.profile {
    margin: 76px 0 70px 0;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__title {
    margin: 0 0 124px 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

.profile__field {
    width: 410px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;                                                                   
    line-height: 13px;
}

.profile__field_border {
	border-bottom: 1px solid #E8E8E8;
}

.profile__input {
    padding: 17px 0 16px 0;
    background-color: #fff;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    text-align: right;
    color: #000;
}

.profile__input::placeholder {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
}

.profile__input:hover {
    border-bottom: 1px solid #3456F3;
}

.profile__input:focus {
    border-bottom: 1px solid #3456F3;
}

.profile__link-container {
    margin: 183px 0 0 0;
    display: flex;
    flex-direction: column;
}

.profile__change {
    margin: 0 0 16px 0;
    border: none;
    background-color: inherit;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    cursor: pointer;
    opacity: 1;
    transition: opacity .3 ease;
}

.profile__change:hover {
    opacity: .6;
}

.profile__link {
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #FF3055;
    opacity: 1;
    transition: opacity .3 ease;
}

.profile__link:hover {
    opacity: .6;
}
.profile__submit-container {
    margin: 188px 0 0 0;
    height: 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.profile__button {
    padding: 0;
    margin: 4px 0 0 0;
    width: 396px;
    height: 45px;
    background-color: #3456F3;
    border: none;
    border-radius: 3px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    opacity: 1;
    transition: opacity .3 ease;
    cursor: pointer;
}

.profile__button:disabled {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    opacity: .2;
    cursor: default;
}

.profile__error {
    display: none;
    margin-top: 2px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #ff3055;
    text-align: center;
}

.profile__error_active {
    display: block;
}

@media screen and (max-width: 870px) {
    .profile__title {
        margin: 160px 0 96px 6px;
    }

    .profile__link-container {
        margin-top: 174px;
    }

    .profile__link {
        margin-bottom: 269px;
    }
}

@media screen and (max-width: 540px) {
    .profile {
        margin: 70px 30px 0 30px;
    }

    .profile__title {
        margin: 0 0 80px 12px;
        font-size: 24px;
        line-height: 29px;
    }

    .profile__field {
        width: 260px;
    }

    .profile__link-container {
        margin-top: 343px;
    }

    .profile__change {
        font-size: 12px;
        line-height: 15px;
    }

    .profile__link {
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 40px;
    }

    .profile__button {
        width: 260px;
        height: 45px;
        font-size: 12px;
        line-height: 15px;
    }
}