.burgerMenu {
    width: 100%;
    background-color: rgba(0, 0, 0, .3);
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: all 0.6s linear 0s;
}

.burgerMenu__container {
    width: calc(100% - 248px);
    margin: 0 0 0 248px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #fff;
}

.burgerMenu__btn {
    position: absolute;
    top: 24px;
    right: 28px;
    width: 24px;
    height: 24px;
    background-image: url(../../images/close.svg);
    background-position: center;
    object-fit: cover;
    background-color: inherit;
    border: none;
    padding: 0;
}

.burgerMenu__list {
    margin: 159px 0 0 0;
    list-style: none;
    padding: 0;
}

.burgerMenu__links {
    margin: 0 0 28px 0;
    padding: 0;
    text-align: center;
}

.burgerMenu__link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    text-decoration: none;
}

.burgerMenu__link:hover {
    border-bottom: 2px solid #000;
}

.burgerMenu__profile-link {
    margin: 593px 0 90px 0;
    padding: 0;
    width: 100px;
    height: 32px;
    background-image: url(../../images/profile.svg);
    border-radius: 20px;
}

.burgerMenu__profile-link:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.burgerMenu_opened {
    visibility: visible;
    opacity: 1;
}

@media screen and (min-width:870px) {
    .burgerMenu_opened {
        display: none;
    }
}

@media screen and (max-width: 540px) {
    .burgerMenu__container {
        height: 100%;
        width: 320px;
        margin-left: calc(100% - 320px);
    }

    .burgerMenu__btn {
        top: 16px;
        right: 16px;
    }

    .burgerMenu__list {
        margin-top: 144px;
    }

    .burgerMenu__profile-link {
        margin: 419px 0 46px 0;
    }

    .burgerMenu__links {
        margin-bottom: 24px;
    }

    .burgerMenu__link {
        padding-left: 2px;
    }
}