.register {
    display: block;
    height: 72px;
}

.register__input {
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #e8e8e8;
}

.register__input:hover {
    border-bottom: 1px solid #3456f3;
}

.register__input:focus {
    border-bottom: 1px solid #3456f3;
}

.register__placeholder {
    margin: 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #a0a0a0;
}

.register__input {
    margin: 5px 0 0 0;
    padding: 0 0 10px 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.register__error {
    display: none;
    margin-top: 2px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #ff3055;
}

.register__error_active {
    display: block;
}


